h1{
    text-align: center;
}

h3{
  text-align: center;
}

body {
    font-family: "montserrat";
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px;
  }
  
  .sidenav a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; 
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
  }
  img{
    float: right;
  }
